In [1]:
import numpy as np

In [2]:
data = np.random.randint(0, 10, size=(3,5))
data

array([[3, 6, 1, 6, 6],
       [3, 9, 6, 6, 6],
       [4, 9, 7, 5, 0]])

In [4]:
data = data.astype(np.float)  # 因为NAN属于浮点类型，所以要想转换成NAN，需要先改变整个数组的数据类型
data[0,1] = np.NAN
data

array([[ 3., nan,  1.,  6.,  6.],
       [ 3.,  9.,  6.,  6.,  6.],
       [ 4.,  9.,  7.,  5.,  0.]])

In [5]:
data/0

<ipython-input-5-93938293822a>:1: RuntimeWarning: divide by zero encountered in true_divide
  data/0
<ipython-input-5-93938293822a>:1: RuntimeWarning: invalid value encountered in true_divide
  data/0

array([[inf, nan, inf, inf, inf],
       [inf, inf, inf, inf, inf],
       [inf, inf, inf, inf, nan]])

In [9]:
a = np.NAN
b = np.NAN
a == b

False

In [11]:
a*100

nan

In [12]:
np.isnan(a)

True

In [20]:
data = np.random.randint(0,10,size=(3,5)).astype(np.float)
data[0,0]=np.nan
data[1,2]=np.nan
data

array([[nan,  6.,  2.,  2.,  9.],
       [ 7.,  8., nan,  3.,  2.],
       [ 9.,  3.,  2.,  7.,  7.]])

In [21]:
np.isnan(data)

array([[ True, False, False, False, False],
       [False, False,  True, False, False],
       [False, False, False, False, False]])

In [23]:
data[~np.isnan(data)]

array([6., 2., 2., 9., 7., 8., 3., 2., 9., 3., 2., 7., 7.])

In [29]:
np.where(np.isnan(data))

(array([0, 1], dtype=int64), array([0, 2], dtype=int64))

In [30]:
lines = np.where(np.isnan(data))[0]
lines

array([0, 1], dtype=int64)

In [31]:
np.delete(data, lines, axis =0)

array([[9., 3., 2., 7., 7.]])

In [33]:
scores = np.loadtxt("nan_scores.csv", delimiter=',',skiprows=1,encoding='utf-8',dtype=np.str)
scores

array([['59', '89'],
       ['90', '32'],
       ['78', '45.5'],
       ['34', ''],
       ['', '56'],
       ['23', '56']], dtype='<U4')

In [34]:
scores[scores == ""] = np.NAN
scores

array([['59', '89'],
       ['90', '32'],
       ['78', '45.5'],
       ['34', 'nan'],
       ['nan', '56'],
       ['23', '56']], dtype='<U4')

In [35]:
scores = scores.astype(np.float)
scores

array([[59. , 89. ],
       [90. , 32. ],
       [78. , 45.5],
       [34. ,  nan],
       [ nan, 56. ],
       [23. , 56. ]])

array([148. , 122. , 123.5,   nan,   nan,  79. ])